.simplePagination-navigation a
{
	margin-right: 5px;
	background-color: #ccc;
}
.simplePagination-navigation a:last-child
{
	margin-right: 0;
}
.simplePagination-navigation .simplePagination-navigation-page-active
{
	background: none;
	color: inherit;
	cursor: default;
	text-decoration: none;
}

span + span
{
	margin-left: 5px;
}