a[class^="simple-pagination-navigation-"]
{
	margin-right: 5px;
	background-color: #ccc;
}
a[class^="simple-pagination-navigation-"]:last-child
{
	margin-right: 0;
}
a.simple-pagination-navigation-disabled
{
	background: none;
	color: red;
	cursor: default;
	text-decoration: none;
}

span + span
{
	margin-left: 5px;
}